   
 
   <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="over" position='end' style="position: fixed;">
        <button (click)="drawer.toggle()" class="btn btn-dark size"  mat-raised-button>
          Back
        </button>
        <div *ngFor="let data of countries;let i=index" >
          <div *ngIf='i==0'>

            <filter [region]='data.region' [language]='language' [currencies]='currencies' (notify)='getlancurr($event)'></filter>
</div>
          </div>
      </mat-drawer>

     

      <div class="example-sidenav-content">
        <button type="button" mat-button class="btn btn-success vertical-text" style="right: 1px;position: fixed;margin-top: 150px;z-index: 1;" (click)="drawer.toggle()">
          Filter
        </button>
      </div>
      <div class="container-fluid" style="background-color: #34495e;height: 100%;">
        <h1 class="text-center mb-3" style="color: white;">Countries</h1>
        <div class='btn btn-primary button1' (click)="gotodefaultState()" style="padding: 8px 10px;position:fixed;left: 1px;z-index: 1;"><i class="fas fa-redo-alt"></i></div><br><br>
        <div class='btn btn-danger button1' (click)='gotopreviousPage()' style="padding: 8px 12px;position: fixed;left:1px;z-index:1;"><i class="fas fa-chevron-left"><span class='button1 bt1'></span></i></div><br><br>
        
           
         
        
         <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-3 pt-3 img-back" *ngFor="let data of countries" style="background-color:#f5f6fa;">
                            <div class="card card-img" style="padding: 10px;background-color:#ecf0f1;" >
                                    <img class="card-img-top" src={{data.flag}} alt="Card image cap" style="height:50vh;">
                                    <div class="card-body p-0">
                                      <h5 class="card-title text-center pt-3 pb-3">{{data.name}}</h5>
                                      <a  data-toggle="collapse" href="#collapse{{data.name}}" class="text-center mb-3" aria-expanded="false" aria-controls="collapseExample">
                                            infos
                                          </a>
                                           
                                          
                                          <div class="collapse mb-3" id="collapse{{data.name}}">
                                                <div class="card card-body p-0">
                                                 <div class="wrapper1" [ngClass]="{'bg-primary':data.region=='Asia','bg-info':data.region=='Europe','bg-danger':data.region=='Americas','bg-warning':data.region=='Africa','bg-success':data.region=='Oceania'}">Capital</div>
                                                 <p class="text-center">{{data.capital}}</p>
                                                 <div class="wrapper1" [ngClass]="{'bg-primary':data.region=='Asia','bg-info':data.region=='Europe','bg-danger':data.region=='Americas','bg-warning':data.region=='Africa','bg-success':data.region=='Oceania'}">Population</div>
                                                 <p class="text-center">{{data.population}}</p>
                                                 <div class="wrapper1" [ngClass]="{'bg-primary':data.region=='Asia','bg-info':data.region=='Europe','bg-danger':data.region=='Americas','bg-warning':data.region=='Africa','bg-success':data.region=='Oceania'}">currencies</div>
                                                 <p class="text-center">{{data.currencies[0].name}}</p>
                                                 <div class="wrapper1" [ngClass]="{'bg-primary':data.region=='Asia','bg-info':data.region=='Europe','bg-danger':data.region=='Americas','bg-warning':data.region=='Africa','bg-success':data.region=='Oceania'}">Languages</div>
                                                 <p class="text-center">{{data.languages[0].name}}</p>
                                                 <div style="display: flex;justify-content: center;">
                                                 <button class="mb-3 px-3 py-2" (click)='explore1(data.name)' [ngClass]="{'btn btn-outline-primary':data.region=='Asia','btn btn-outline-info':data.region=='Europe','btn btn-outline-danger':data.region=='Americas','btn btn-outline-warning':data.region=='Africa','btn btn-outline-success':data.region=='Oceania'}">Explore</button>
                                                </div>
                                                </div>
    
                                              </div>
                                      
                                      <div class="wrapper" [ngClass]="{'bg-primary':data.region=='Asia','bg-info':data.region=='Europe','bg-danger':data.region=='Americas','bg-warning':data.region=='Africa','bg-success':data.region=='Oceania'}">{{data.region}}</div>
                                  
                                    </div>
                                  </div>
    
                 
            </div>
        </div>
    </div>
    </div>
</mat-drawer-container>